<!-- Sidebar -->
<div id="sidebar-wrapper">
     <ul id="menu" class="sidebar-nav ">
        <li class="sidebar-brand desktop">
            <h3 class="logo"></h3>
            <img src="img/niveamainlogo.png">
        </li>
        <li><a ng-href="#/twitter" class="home"><i class=" fa fa-twitter"></i> #tweets </a></li>
        <li><a ng-href="#/trends" class="trends"><i class=" fa fa-google"></i> Trends </a></li>
        <li><a ng-href="#/brandTrends" class="brandTrends"><i class=" fa fa-binoculars"></i> BrandTrends </a></li>
        <li><a ng-href="#/brandTopics" class="brandTopics"><i class=" fa fa-comments"></i> BrandTopics </a></li>
        <li><a ng-href="javascript:void(0)" class="logout mobile" ><i class=" fa fa-power-off" style="font-size:24px"></i> Salir </a></li>
    </ul>   
    
    <!--<div id="qr" class="desktop"><img src="img/chart.jpg" ></div>-->
    <div class="copyright desktop" ><p>Copyright &copy; Wunderman</p></div>
</div>